.card-img-container {
  width: 100%;
  background-color: #e0e0e0; /* Light gray background */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.card-img-container img {
  max-height: 100%;
  aspect-ratio: 8 / 5;
}

.icons img {
  width: 25px;
  border-radius: 2px;
  cursor: pointer;
}

::-webkit-scrollbar {
  background-color: #8a8a8a;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 1px;
}